src/Plugins/UpdateClient/Service References/Service/update.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://outliner.pjanssen.nl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://outliner.pjanssen.nl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://outliner.pjanssen.nl/">
      <s:element name="GetUpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="installation" type="tns:OutlinerInstallation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OutlinerInstallation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OutlinerVersion" type="tns:OutlinerVersion" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxVersion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OutlinerVersion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Major" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Minor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Build" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Revision" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBeta" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateDataResult" type="tns:UpdateData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsUpdateAvailable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="NewVersion" type="tns:OutlinerVersion" />
          <s:element minOccurs="0" maxOccurs="1" name="DownloadUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReleaseNotesUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateData" />
  </wsdl:message>
  <wsdl:message name="GetUpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateDataResponse" />
  </wsdl:message>
  <wsdl:portType name="UpdateSoap">
    <wsdl:operation name="GetUpdateData">
      <wsdl:input message="tns:GetUpdateDataSoapIn" />
      <wsdl:output message="tns:GetUpdateDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateSoap" type="tns:UpdateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateData">
      <soap:operation soapAction="http://outliner.pjanssen.nl/GetUpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateSoap12" type="tns:UpdateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateData">
      <soap12:operation soapAction="http://outliner.pjanssen.nl/GetUpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Update">
    <wsdl:port name="UpdateSoap" binding="tns:UpdateSoap">
      <soap:address location="http://outliner.pjanssen.nl/services/update_server.php" />
    </wsdl:port>
    <wsdl:port name="UpdateSoap12" binding="tns:UpdateSoap12">
      <soap12:address location="http://outliner.pjanssen.nl/services/update_server.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>